*{
    /* padding: 20px 10px 20px 10px; */

}
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    padding: 20px 10px 20px 10px;
}

/* Your other styles */

.skill {
    margin-bottom: 20px;
}

.rating {
    display: flex;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 8px;
}

.fill {
    height: 100%;
    background-color:orangered;
    border-radius: 5px;
}
